@charset "UTF-8";
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Black.woff2') format('woff2');
}


.mainForm {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  left: calc(50vw - 300px);
}

.registerFieldWrapper{
  display: flex;
  gap: 10px;
}



:root {
  --tagHoverColor: #FFFCF2;
  --textColor:     #D9D9D9;
  --almostWhite:   #FFFCF2;
  --lightGray:     #D9D9D9;
  --darkGray:      #252422;
  --darkishGray:   #424241;
  --activeBtnBgCol:#A3B18A;
  --borderRadiusSmall: 5px;
  --mainTopOffset: 150px;
  --globalFontWeight: 400;
  --panelWidth: 80vw;
  --panelMarginLeft: 10vw;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--lightGray);
  font-family: Inter;
  font-size: 24px;
  font-weight: var(--globalFontWeight);
  user-select: none;
  margin: 0px;
}

body .label {
  font-size: 16px;
}

body .searchBar {
  display: flex;
  flex-wrap: wrap;
  background: var(--darkGray);
  box-sizing: content-box;
  padding: 5px 10px;
  border-radius: var(--borderRadiusSmall);
  line-height: 45px;
  width: var(--panelWidth);
  height: fit-content;
  margin-left: var(--panelMarginLeft);
  margin-top: 5px;
  cursor: pointer;
  transition: 0.1s all;
}

body .inputField {
  background: var(--darkGray);
  box-sizing: content-box;
  padding: 5px;
  border-radius: var(--borderRadiusSmall);
  line-height: 50px;
  width: 600px;
  /*margin-left: calc(50vw - 200px);*/
  margin: 5px 0px 15px 0px;

  cursor: pointer;
  transition: 0.1s all;
}

body .inputField .nameInput {
  outline: none;
  border: none;
  width: 100%;
  padding: 3px;
  font-size: 16px;
  color: var(--textColor);
  background: var(--darkGray);
  user-select: text;
}

body .btnAWrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

body .btnA {
  background-color: var(--darkGray);
  border-radius: var(--borderRadiusSmall);
  color: var(--textColor);
  width: 200px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
}

body .btnA:active {
  width: 196;
  height: 36px;
  background-color: var(--activeBtnBgCol);
  border: solid 2px var(--activeBtnBgCol);
  box-shadow: inset 8px 9px 10px -10px #000;
}

body .btnB {
  background-color: var(--darkGray);
  border-radius: var(--borderRadiusSmall);
  color: var(--textColor);
  width: 120px;
  height: 32px;
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}

body .btnB:active {
  width: 116;
  height: 28px;
  background-color: var(--activeBtnBgCol);
  border: solid 2px var(--activeBtnBgCol);
  box-shadow: inset 8px 9px 10px -10px #000;
}

.alarma {
  overflow: auto;
  text-align: center;
  width: 70%;
  left: 15%;
  position: absolute;
  top: 70px;
}
.fade-out-text {
  opacity:           0;
  font-size:         25px;
  animation:         fadeOut 2s;
  -webkit-animation: fadeOut 2s;
  -moz-animation:    fadeOut 2s;
  -o-animation:      fadeOut 2s;
  -ms-animation:     fadeOut 2s;
}

@keyframes fadeOut {
  100% { opacity: 0; }
  50%  { opacity: 1; }
  0%   { opacity: 1; }
}
@-moz-keyframes fadeOut {
  100% { opacity: 0; }
  0%   { opacity: 1; }
}
@-webkit-keyframes fadeOut {
  100% { opacity: 0; }
  50%  { opacity: 1; }
  0%   { opacity: 1; }
}
@-o-keyframes fadeOut {
  100% { opacity: 0; }
  0%   { opacity: 1; }
}
@-ms-keyframes fadeOut {
  100% { opacity: 0; }
  0%   { opacity: 1; }
}

.register{

}

.halfField{
  width: 290px !important; 
}

.cvFrame {
    display: flex;
    gap: 10px;
    padding: 20px;
    padding-bottom: 45px;
    height: calc(var(--cvDefaultHeight) + 141);
    background-color: var(--almostWhite);
    transition: height 1500ms;
    width: 600px;
    position: relative;
    top: 100px;
}
.cvFrameInner {
    width: 100%;
    overflow: hidden;
    max-height: var(--cvDefaultHeight);
    transition: max-height 400ms;
}

.cvSkillRecord {
    display: flex;
    flex-direction: row;
}
.cvSkillRecordName {
    width: 70%;
}
.cvSkillRecordVal {
    display: flex;
    overflow-wrap: anywhere;
    max-width: 50%;
    flex-wrap: wrap;
    gap: 3px;
}